body {
    text-align: center;
    background-image: url(https://www.roberthalf.com/sites/default/files/2018-11/teamwork-in-the-workplace-rh.jpg);
    font-family: 'Montserrat', sans-serif;   
}

#title {

}

#description {

}

.form {
background-color: blue;
margin: auto;
height: 500px;
width: 400px;
}

.form-group {
    
}

#name {

}

#email {

}